<!DOCTYPE html>
<html>
    <head>
        <link href="./CSS/main_header.css" rel="stylesheet">
        <link href="./CSS/main_banner.css" rel="stylesheet">
        <link href="./CSS/main_best.css" rel="stylesheet">
        <link href="./CSS/main_region.css" rel="stylesheet">

        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.bundle.min.js"></script>
        
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


        <script>
            var region = 0;
            var tmptable = "";

            function setFacType(num)
            {
                let easycal = num % 1000;
                tmptable = "";

                if (easycal >= 0 && easycal < 100)
                {
                    tmptable = "<td>방탈출</td>"
                }

                else if (easycal >= 100 && easycal < 200)
                {
                    tmptable = "<td>보드게임</td>"
                }

                else if (easycal >= 200 && easycal < 300)
                {
                    tmptable = "<td>볼링</td>"
                }

                else if (easycal >= 300 && easycal < 400)
                {
                    tmptable = "<td>파티룸</td>"
                }

                else if (easycal >= 400 && easycal < 500)
                {
                    tmptable = "<td>당구</td>"
                }

                else
                {
                    tmptable = "<td>VR 게임방</td>"
                }
            }

            function setRegion(strText, num)
            {
                region = num;
                
                var jsonText = JSON.parse(strText);
                var table = document.getElementById("make_region_table");
                table.innerHTML = "";

                for (let i = 0; i < jsonText.length; i++)
                {
                    setFacType(jsonText[i].fac_p);

                    if (jsonText[i].fac_p >= 1000 && jsonText[i].fac_p < 2000 && (region == 0 || region == 1))
                    {   
                        table.innerHTML += "<tr><td>서울</td><td>" + jsonText[i].fac_ceo + "</td>" + tmptable + "</tr>";
                    }

                    else if (jsonText[i].fac_p >= 2000 && jsonText[i].fac_p < 3000 && (region == 0 || region == 2))
                    {
                        table.innerHTML += "<tr><td>경기</td><td>" + jsonText[i].fac_ceo + "</td>" + tmptable + "</tr>";
                    }

                    else if (jsonText[i].fac_p >= 3000 && jsonText[i].fac_p < 4000 && (region == 0 || region == 3))
                    {
                        table.innerHTML += "<tr><td>충청</td><td>" + jsonText[i].fac_ceo + "</td>" + tmptable + "</tr>";
                    }
                }
            }
        </script>
        
        <style>
            /* banner */
            .banner {
                width: 100%;
                height: 600px;
                background-image: url(../Images/Banner_Background.jpg);
            }

            .banner_side {
                width: 10%;
                height: 600px;
            }

            .banner_button_layer {
                position: relative;
                top: 300px;
            }

            .banner_center {
                width: 80%;
                height: 500px;
                padding: 50px;
                box-sizing: border-box;
            }

            .banner_commerce_layer {
                height: 500px;
                background-color: beige;
            }
            /* ************************** */

            /* main_best */
            .best 
            {
                width: 100%;
                height: 300px;
                background-color: aqua;
            }

            .best_content_box
            {
                background-image: url(../Images/black_blocks.jpg);
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                height: 300px;
            }

            .best_content_layer
            {
                position: relative;
                box-sizing: border-box;
                cursor: pointer;
                width: 75%;
                height: 200px;
                padding: 10px;
                margin-top: 50px;
                backdrop-filter: blur(5px);
            }

            .best_content_layer::after {
                width: 100%;
                height: 100%;
                content: "";
                filter: blur(2px);
                background: url(../Images/black_blocks.jpg);
            }

            #TOP {
                color: white;
            }
            /* ************************** */

            .header {
                width: 100%;
                height: 50px;
                background-color: #efefef;
            }

            img.logo_img {
                width: 40px;
                height: 40px;
                display: inline-block;
                padding: 5px;
            }

            .login {
                position: relative;
                float: right;
                margin: 15px;
            }
            /* ************************** */

            .region {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                min-height: 600px;
            }

            /* */

            * {
                list-style: none;
                text-decoration: none;
                border-collapse: collapse;
                margin: 0px;
                padding: 0px;
                color: black;
            } 

            td {
                height: 200px;
                text-align: center;
            }

            th {
                text-align: center;
                height: 20px;
            }

            .navbar .navbar-header {
                float: none;
            }

            .navbar .navbar-toggle {
                display: block;
            }

            .navbar .navbar-collapse.collapse {
                display: none!important;
            }

            .navbar .navbar-nav {
                float: none!important;
            }

            .navbar .navbar-nav > li {
                float: none;
            }

            .navbar .navbar-collapse.collapse.in {
                display: block !important;
            }

        </style>
        
    </head>

    <body>
        <input type="hidden" id="myJsonData" value="<%= JSON.stringify(AllFac) %>" />

        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="navbar-header">
                <div class="login">
                    <button type="button" class="btn btn-info">로그인</button>
                    <button type="button" class="btn btn-info">회원가입</button>
                </div>
                <a class="navbar-brand" style="margin-top: 8px;" href="#">JoinUs</a>
            </div>
            </div>
        </nav>

        <div class="container-fluid text-center banner">
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 bannerfside">
                    <div class="banner_button_layer">
                        <button type="button" class="btn btn-light"><</button>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 banner_center">
                    <div class="banner_commerce_layer">

                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 banner_side">
                    <div class="banner_button_layer">
                        <button type="button" class="btn btn-light">></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center best">
            <div class="row">
                <!-- <div class="col-xs-12 col-sm-6 col-md-7 col-lg-12" style="background-color:red;"> -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 best_content_box">
                    <div class="best_content_layer">
                        <img src="https://www.flickr.com/photos/115800706@N07/50244276996/in/explore-2022-05-25/" class = "img-circle member" width="120" height="120" data-target="#TOP1">
                        <p></p>
                        <!--// 임의 로 넣은 데이터/////////////-->
                        <form id="form" action="/upload" method="post" enctype="multipart/form-data">
                            <input type="file" name="sample" />
                            <button type="submit">업로드</button>
                        </form>
                        <!--//////////////////////////////////-->
                        <div id="TOP">This is Sample This is Sample This is Sample This is Sample This is Sample This is Sample</div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 best_content_box">
                    <div class="best_content_layer">
                        <img src="https://www.flickr.com/photos/115800706@N07/50244276996/in/explore-2022-05-25/" class = "img-circle member" width="120" height="120" data-toggle="collapse">
                        <p></p>
                        <div id="TOP">This is Sample This is Sample This is Sample This is Sample This is Sample This is Sample</div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 best_content_box">
                    <div class="best_content_layer">
                        <img src="https://www.flickr.com/photos/115800706@N07/50244276996/in/explore-2022-05-25/" class = "img-circle member" width="120" height="120" data-toggle="collapse">
                        <p></p>
                        <div id="TOP">This is Sample This is Sample This is Sample This is Sample This is Sample This is Sample</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="region">
            <div class="region_select">

            </div>
            <h3>지역 선택</h3>
            <ul class="nav navbar-nav default">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">전체 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a onclick="setRegion(document.getElementById('myJsonData').value, 0)">전체</a></li>
                    <li><a onclick="setRegion(document.getElementById('myJsonData').value, 1)">서울</a></li>
                    <li><a onclick="setRegion(document.getElementById('myJsonData').value, 2)">경기</a></li>
                    <li><a onclick="setRegion(document.getElementById('myJsonData').value, 3)">청주</a></li>
                </ul>
                </li>
            </ul>

            <table class="table table-hover table-stripped">
                <thead>
                    <tr>
                        <th>지역</th>
                        <th>시설주</th>
                        <th>카테고리</th>
                    </tr>
                </thead>
                <tbody id="make_region_table">
                    <script>
                        setRegion(document.getElementById('myJsonData').value, 0);
                    </script>  
                </tbody>
            </table>
        </div>

        <div class="footer">

        </div>
    </body>
</html>