<!DOCTYPE html>
<html>
  <head>
    <link href="./css/nav.css" rel="stylesheet" />
    <link href="./css/info_data.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <style>
        * {
        color: black;
        }

        .info_sub {
        text-align: center;
        }

        .info_theme {
        text-align: center;
        }

        .other_theme {
        margin-bottom: 40px;
        }

        .theme_add {
        text-align: left;
        background-color: #F9F9F9;
        display:none;
        }

        .bg_col {
        background-color: white;
        padding: 30px;
        }

        .info_text {
        height: 300px;
        display: flex;
        align-items: center;
        }

        .info_img {
        background-image: url("./temp.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        }

        .main {
            width: 250px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 1px solid lightgrey;
            border-radius: 5px;
        }

        .logo {
            margin-top: 0px;
            margin-bottom: 40px;
        }

        #login {
            width: 100%;
            background-color: skyblue;
            border-color: transparent;
            color: white;
        }

        .account {
            display: block;
            margin-bottom: 3px;
            padding: 3px;
            border: 1px solid lightgray;
            border-radius: 3px;
        }

        #alert {
            border-color: transparent;
        }

        .navbar .navbar-header {
            float: none;
        }

        .navbar .navbar-toggle {
            display: block;
        }

        .navbar .navbar-collapse.collapse {
            display: none!important;
        }

        .navbar .navbar-nav {
            float: none!important;
        }

        .navbar .navbar-nav > li {
            float: none;
        }

        .navbar .navbar-collapse.collapse.in {
            display: block !important;
        }

        .login {
            position: relative;
            float: right;
            margin: 15px;
        }


    </style>


    <title>JoinUs</title>
  </head>

  <script>
    function setCookie(cookie_name, value, days) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + days);
        var cookie_value = escape(value) + ((days == null) ? '' : '; expires=' + exdate.toUTCString());
        document.cookie = cookie_name + '=' + cookie_value;
    }

    function getCookie(cookie_name) {
        var x, y;
        var val = document.cookie.split(';');
        for (var i = 0; i < val.length; i++) {
            x = val[i].substr(0, val[i].indexOf('='));
            y = val[i].substr(val[i].indexOf('=') + 1);
            x = x.replace(/^\s+|\s+$/g, '');
            if (x == cookie_name) {
                return unescape(y);
            }
        }
    }

    function loginArea(strText)
    {
        var la = document.getElementById('login_area');
        let jsonText = JSON.parse(strText);

        for (let i = 0; i < jsonText.length; i++)
        {
            if (jsonText[i].mem_id == getCookie("ID"))
            {    
                la.innerHTML="<button type='button' style='margin-left: 10px' class='btn btn-info'>로그아웃</button>" +
                "<button type='button' class='btn btn-info' onclick=location.href='http://www.joins.ga/reserved' style='margin-left: 10px'>MY</button>"
                return;
            }
        }

        la.innerHTML="<button type='button' onclick=location.href='http://www.joins.ga/login' style='margin-left: 10px' class='btn btn-info'>로그인</button>" + 
        "<button type='button' style='margin-left: 10px' class='btn btn-info' location.href='http://3.34.53.201'>회원가입</button>"  
        return;              
    }

    function getContent()
    {
        facData = document.getElementById('myJsonData').value;
        facJson = JSON.parse(facData);

        let facName = decodeURI(document.location.href.split('&')[1]);

        for (let i = 0; i < facJson.length; i++)
        {
            if (facName === facJson[i].fac_title)
            {
                let contents = document.getElementById("introduce_facility");
                contents.innerHTML = "";

                contents.innerHTML = "<p>" + facJson[i].fac_info + "</p>";
                break;
            }
        }
    }

    function getThemes()
    {
        themesData = document.getElementById('myThemesData').value;
        themesJson = JSON.parse(themesData);
        
        let facName = decodeURI(document.location.href.split('&')[1]);
        let ThemesInfo = document.getElementById("themesInfo");
        ThemesInfo.innerHTML="";
        
        for (let i = 0; i < themesJson.length; i++)
        {
            if (facName === themesJson[i].theme_title)
            {
                ThemesInfo.innerHTML += "<h2 style='text-align: left'>" + themesJson[i].theme_name + "</h2>";
            }
        }
    }
  </script>

  <body>
    <input type="hidden" id="myJsonData" value="<%= JSON.stringify(AllFac) %>" />
    <input type="hidden" id="myUserData" value="<%= JSON.stringify(AllUsers) %>" />
    <input type="hidden" id="myThemesData" value="<%= JSON.stringify(AllThemes) %>" />
    
    <!-- navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="login" id="login_area">
            <script>
                loginArea(document.getElementById("myUserData").value);
            </script>
          </div>
          <a class="navbar-brand" style="margin-top: 8px;" href="#">JoinUs</a>
        </div>
      </div>
    </nav>
    <script>
      function popup() {
        var _width = '285';
        var _height = '400';
        var _left = Math.ceil(( window.screen.width - _width )/2);
        var _top = Math.ceil(( window.screen.height - _height )/2); 
 
        window.open('Login.html', 'Log In', 'width='+ _width +', height='+ _height +', left=' + _left + ', top='+ _top );
      }
    </script>

    <div class="bg_col">

      <div class="container-fluid row">
        <div class="container col-md-6 info_left row">
          <div>
            <h2>JoinUs Escape</h2>
          </div>
          <div class="col-md-5 info_text row">
            <div style="text-align: center;" class="col-md-11 col-md-offset-1">
              <div>
                <p><span>도비는 자유에요</span></p>
              </div>

              <div>
                <p>
                  <span>이용시간</span>
                  <span>60분</span>
                </p>
              </div>

              <div>
                <p>
                  <span>분류</span>
                  <span>방탈출</span>
                </p>
              </div>

              <div>
                <p>
                  <span>활동성</span>
                  <span>
                    <img src="./img/many_off.png"/>
                    <img src="./img/normal_off.png"/>
                    <img src="./img/low_on.png"/>
                  </span>
                </p>
              </div>

              <div>
                <p>
                  <span class="tag">추천인원</span>
                  <span>
                    <img src="./img/2_user.jpg"/>
                    <img src="./img/3_user.jpg"/>
                  </span>
                </p>
              </div>
              <div>
                <button type="button" id="no_alliance_reserve" style="color:black;">예약하기</button>
              </div>
            </div>



          </div>
          <div class="col-md-7 info_img" style="height: 300px;"></div>
        </div>

        <div class="col-md-6">
          <h2>소개</h2>
          <div class="container-fluid info_sub">
              <p style="text-align: left;" id="introduce_facility">
                <script>
                    getContent();
                </script>
              </p>
          </div>
        </div>
      </div>




      <div class="container-fluid row">
        <div class="col-md-6">
          <h2>위치</h2>
          <div id="map" style="height:500px;"></div>
          <script>
          function myMap() {
            var mapCanvas = document.getElementById("map");
            var myCenter = new google.maps.LatLng	(	37.41906306	,	126.9197713	);
            var mapOptions = {
              center: myCenter,
              zoom: 12
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZyO-3oUwTQAogkeWwKhJz3S-dUyFrjiE&libraries=visualization&callback=myMap"></script>
        </div>


        <div class="col-md-6">
          <h2>테마</h2>
          <div class="info_theme">
            <!-- 테마 목록 -->
            <div class="other_theme row">
              <div class="col-md-6 col-md-offset-3 row">
                <div id="themesInfo">
                  <script>
                    getThemes();
                  </script>
                </div>
              </div>
            </div>
        </div>
      </div>

    </div>

    <div class="container-fluid info_theme bg_col">



      <!-- 일단 토글 버튼으로 임시로 해놨음 -->
      <div class="">
        <input type="radio" name="r1" value ="admin" onclick="mytoggle(event)"/>admin
        <input type="radio" name="r1" value ="user" onclick="mytoggle(event)" checked="checked"/>user
      </div>
      <script>
      $(document).ready(function() {});
      function mytoggle(event) {
        if(event.target.value == "admin") {
          $(".theme_add").css("display", "block");
        }
        if(event.target.value == "user") {
          $(".theme_add").css("display", "none");
        }
      }
      </script>



      <!-- 테마 추가하는 파트 -->
      <div class="theme_add row">
        <div class="col-md-6 col-md-offset-3">
          <h2>Add Theme</h2>
          <form class="row">
            <div class="form-group col-sm-4">
              <label for="th_name">name: </label>
              <input type="text" class="form-control" id="th_name">
            </div>
            <div class="form-group col-sm-4">
              <label for="th_type">type: </label>
              <input type="text" class="form-control" id="th_type">
            </div>
            <div class="form-group col-sm-4">
              <label for="th_img">upload img file</label>
              <input type="file" class="form-control" id="th_img" accept="image/*">
            </div>
            <div class="form-group col-sm-2 col-sm-offset-10">
              <button type="submit" class="btn btn-primary" id="add_submit">테마 추가</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </body>

</html>