<!DOCTYPE html>
<html>
    <head>
        <link href="./CSS/main_header.css" rel="stylesheet">
        <link href="./CSS/main_banner.css" rel="stylesheet">
        <link href="./CSS/main_best.css" rel="stylesheet">
        <link href="./CSS/main_region.css" rel="stylesheet">
        <link rel="stylesheet" href="https://drive.google.com/file/d/1n-oSYNTs-pGrJz7PXcKm-63LIj6bdxJj/view?usp=sharing">

        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.bundle.min.js"></script>
        
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


        <script>
            var region = 0;
            var tmptable = "";
            var regionType = 0;
            var list = [];
            var list2 = [];
            var listp = [];
            var topc = [];

            function setCookie(cookie_name, value, days) {
                var exdate = new Date();
                exdate.setDate(exdate.getDate() + days);
                var cookie_value = escape(value) + ((days == null) ? '' : '; expires=' + exdate.toUTCString());
                document.cookie = cookie_name + '=' + cookie_value;
            }

            function getCookie(cookie_name) {
                var x, y;
                var val = document.cookie.split(';');
                for (var i = 0; i < val.length; i++) {
                    x = val[i].substr(0, val[i].indexOf('='));
                    y = val[i].substr(val[i].indexOf('=') + 1);
                    x = x.replace(/^\s+|\s+$/g, '');
                    if (x == cookie_name) {
                        return unescape(y);
                    }
                }
            }

            function loginArea(strText)
            {
                var la = document.getElementById('login_area');
                let jsonText = JSON.parse(strText);

                for (let i = 0; i < jsonText.length; i++)
                {
                    if (jsonText[i].mem_id == getCookie("ID"))
                    {    
                        la.innerHTML="<button type='button' style='margin-left: 10px' class='btn btn-info'>로그아웃</button>" +
                        "<button type='button' class='btn btn-info' onclick=location.href='http://localhost:3000/reserved' style='margin-left: 10px'>MY</button>"
                        return;
                    }
                }

                la.innerHTML="<button type='button' onclick=location.href='http://localhost:3000/login' style='margin-left: 10px' class='btn btn-info'>로그인</button>" + 
                "<button type='button' style='margin-left: 10px' class='btn btn-info' location.href='http://3.34.53.201'>회원가입</button>"  
                return;              
            }

            $(document).ready(function () {
                $(".banner_commerce_layer").not(".active").hide(); 
                setInterval(nextSlide, 4000); 
            });

            function prevSlide() {
                $(".banner_commerce_layer").hide(); 
                var allSlide = $(".banner_commerce_layer"); 
                var currentIndex = 0; 
                
                $(".banner_commerce_layer").each(function(index,item){ 
                    if($(this).hasClass("active")) {
                        currentIndex = index;
                }
                });

                var newIndex = 0;
                
                if(currentIndex <= 0) {
                    newIndex = allSlide.length-1;
                } else {
                    newIndex = currentIndex-1;
                }

                $(".banner_commerce_layer").removeClass("active");
                $(".banner_commerce_layer").eq(newIndex).addClass("active");
                $(".banner_commerce_layer").eq(newIndex).show();

            }

            function nextSlide() {
                $(".banner_commerce_layer").hide();
                var allSlide = $(".banner_commerce_layer");
                var currentIndex = 0;
                
                $(".banner_commerce_layer").each(function(index,item){
                    if($(this).hasClass("active")) {
                        currentIndex = index;
                    }
                    });
                
                var newIndex = 0;
                
                if(currentIndex >= allSlide.length-1) {
                    newIndex = 0;
                } else {
                    newIndex = currentIndex+1;
                }

                $(".banner_commerce_layer").removeClass("active");
                $(".banner_commerce_layer").eq(newIndex).addClass("active");
                $(".banner_commerce_layer").eq(newIndex).show();
                
            }

            function setFacType(num)
            {
                let easycal = num % 1000;
                tmptable = "";

                if (easycal >= 0 && easycal < 100)
                {
                    tmptable = "<td>방탈출</td>"
                }

                else if (easycal >= 100 && easycal < 200)
                {
                    tmptable = "<td>보드게임</td>"
                }

                else if (easycal >= 200 && easycal < 300)
                {
                    tmptable = "<td>볼링</td>"
                }

                else if (easycal >= 300 && easycal < 400)
                {
                    tmptable = "<td>파티룸</td>"
                }

                else if (easycal >= 400 && easycal < 500)
                {
                    tmptable = "<td>당구</td>"
                }

                else
                {
                    tmptable = "<td>VR 게임방</td>"
                }
            }

            function getRegion(num)
            {
                let findR = document.getElementById("findRegion");
                regionType = num;

                if (num == 1)
                    findR.innerText = "서울";
                
                else if (num == 2)
                    findR.innerText = "경기";

                else if (num == 3)
                    findR.innerText = "충청";

                else
                    findR.innerText = "전체";
            }

            function setRegion(strText, num)
            {
                region = num;
                regionType = num;
                
                let jsonText = JSON.parse(strText);
                var table = document.getElementById("make_region_table");
                table.innerHTML = "";

                for (let i = 0; i < jsonText.length; i++)
                {
                    setFacType(jsonText[i].fac_p);
                    let goURL = 'http://localhost:3000/facility/' + jsonText[i].fac_ceo + '&' + jsonText[i].fac_title;

                    if (jsonText[i].fac_p >= 1000 && jsonText[i].fac_p < 2000 && (region == 0 || region == 1))
                    {   
                        table.innerHTML += "<tr id=" + goURL + " onclick=location.href=this.id><td>서울</td><td>" + jsonText[i].fac_ceo + "</td>" + tmptable + "</tr>";
                    }

                    else if (jsonText[i].fac_p >= 2000 && jsonText[i].fac_p < 3000 && (region == 0 || region == 2))
                    {
                        table.innerHTML += "<tr id=" + goURL + " onclick=location.href=this.id><td>경기</td><td>" + jsonText[i].fac_ceo + "</td>" + tmptable + "</tr>";
                    }

                    else if (jsonText[i].fac_p >= 3000 && jsonText[i].fac_p < 4000 && (region == 0 || region == 3))
                    {
                        table.innerHTML += "<tr id=" + goURL + " onclick=location.href=this.id><td>충청</td><td>" + jsonText[i].fac_ceo + "</td>" + tmptable + "</tr>";
                    }
                }
            }

            function TopContentFunc(strText, idx)
            {
                let jsonText = JSON.parse(strText);
                let sorted = new Array(jsonText.length);
                let original;
                let type;
                
                list = [];
                list2 = [];
                listp = [];
                topc = [];
                
                for (let i = 0; i < jsonText.length; i++)
                {
                    list[i] = jsonText[i].fac_clicked;
                    list2[i] = jsonText[i].fac_title;
                    listp[i] = jsonText[i].fac_p;
                }
                
                for (let i = 0; i < list.length; i++)
                {
                    for (let j = 0; j < list.length; j++)
                    {
                        if (Number(list[j]) < Number(list[i]))
                        {
                            let tmp = list[j];
                            list[j] = list[i];
                            list[i] = tmp;

                            let tmp2 = list2[j];
                            list2[j] = list2[i];
                            list2[i] = tmp2;

                            let tmp3 = listp[j];
                            listp[j] = listp[i];
                            listp[i] = tmp3;
                        }
                    }
                }

                original = parseInt(listp[idx]);
                type = parseInt(original % 1000 / 100);

                let nowint;

                if (idx == 0)
                    nowint = 1;
                else if (idx == 1)
                    nowint = 2;
                else
                    nowint = 3;

                let nowstr = "TOP" + nowint;
                let nowtop = document.getElementById(nowstr);
                nowtop.innerHTML = "";

                if (type == 0)
                    topurl = "https://bl3301files.storage.live.com/y4mObPpTnukr8rNoxBO5gEDBSCZ_BPDWTQpubbgQDiXYGA0DCLcjkhdTsjnpkdsk112e1EAA-N3flicCtuEJwzz8P6UfdhGXhVAz5dEWsp3eN2mJefeuoC-0sRGKvc2YQAt2NR4pDi-zTws2hdPTL-h0YRag2zywh75gijNHPbbL5FzYzZWMGeozP_lZSx1jkYw?width=567&height=490&cropmode=none";

                else if (type == 1)
                    topurl = "https://bl3301files.storage.live.com/y4mDD_TTLtdt-T9vvTymVo9wtFTphjb6PIzaymIRgS7odB43uztv3Ej_uwiC2k3V_E5pA57_5Lzzaz7pcopTBGe6t3pDyFc7DcuNJU-bSIPllFar4UtTaOUgszuVYwWjAmKzSiiGNYA_7s1kL_qItG59Bq1mtavH_Jh3BUW57fltubIkI4wrJ-yv2vmjuPYaJ7E?width=671&height=622&cropmode=none";

                else if (type == 2)
                    topurl = "https://bl3301files.storage.live.com/y4mD1Y0CIrZiwVmcT7NRHV3_CWcWHK3_M84crk2tJTXWhvG0_528N04w4XXjrL3EFKlxYfBwukIK4-KfWIUHaPg2GW3wOygXw5YPcujWk7eJKaX18V0L5y4J0cr-Pb0OJyTZW9NL2KX0eaHzh4SC1898YE_hlZbIypLfO8MQ1zMU4_ZkIOZD3ZdK4eixvY6e-rF?width=618&height=607&cropmode=none";

                else if (type == 3)
                    topurl = "https://bl3301files.storage.live.com/y4mpqRcxESlYSb3XSWRtCh0ouCKaAc6HBnCq7l20XftZgM6cp1OBiT06TDLCZnF0e1g-qgdMyXoXIP7d5VLqpwmBO0iuNSggZsFDOd9ob47Ep-1Jl0veXcJ5LtxClzW66cl5h8fSzxH-2BZ9HBxgc48YW4Grx7whZWZdJwZYI2Zh3zKFfr_Slh2Ayhu6lYZVlQw?width=887&height=685&cropmode=none";

                else if (type == 4)
                    topurl = "https://bl3301files.storage.live.com/y4mwOKR5DH6vsk-UL0daz9qZ_qjX1F67glfp48XXHp-hW7imnFTnStSOy7FY04a1687gtqe5aGZ6nyhD96-dRsq4mlY98rQWIkq-qqMi4kMDXGii4ZagsTnlENm_oXwRGJScvoa0CRWBYRmwpDw8ptRnVHSdho50X3_is0USNm_DVFBoQcJjYZf9jCENc5WNfre?width=512&height=502&cropmode=none";

                else
                    topurl = "https://bl3301files.storage.live.com/y4mi51vOciQBR68AUcEkmeW_aYDCxDF9p_TqjaUwFbEJ673fpBBYYBb6siPBh5vujcOoDyAcMeoIYMULz39iKAIljLzxpKx2oz2nvdjhLKYWW8dYGvvDzgMb_Oq8CJKHgbhubuYAfMC0TbRY-KP3HRt02eLlZk3__12XM3LzgN0-4Ml_ptveZX6519PU0ObwH1p?width=330&height=220&cropmode=none";
                      
                if (Number(topurl.length))
                {
                    let tmpliststr = "'" + list2[idx] + "'";
                    nowtop.innerHTML = "<img src=" + topurl + " class='img-circle member' width='120' height='120'/><p></p>"
                    + "<div id=TOP>"+ list2[idx] + " </div>";
                }
            }
        </script>
        
        <style>
            /* banner */
            .banner {
                width: 100%;
                height: 600px;
                background-image: url(https://bl3301files.storage.live.com/y4mN02pUJB-olo_XZ4uDw3lkWdvK3kFpxSrLMcG7vn_GWoUUZGgV0WT1jJvlw7peHoBbq7XY73g5Sm56LB9Pbc7i8VF4Tw6rq4f8s0vj3oHC2MkLT98HePkmt9QuO20FUr4Z4kUb8tYf88ES_pIjDk35k_GH3gPijm9KSS771nCBv8TVTAckAQVzCv0kheW8656?width=612&height=312&cropmode=none);
            }

            .banner_side {
                width: 10%;
                height: 600px;
            }

            .banner_button_layer {
                position: relative;
                top: 300px;
            }

            .banner_center {
                width: 80%;
                height: 500px;
                padding: 50px;
                box-sizing: border-box;
                display: felx;
            }

            .banner_commerce_layer {
                height: 500px;
                background-color: black;
                background-size: contain;
            }
            /* ************************** */

            /* main_best */
            .best 
            {
                width: 100%;
                height: 300px;
            }

            .best_content_box
            {
                background-image: url(https://bl3301files.storage.live.com/y4m1avnOoGR41XIhBidAIllETBK4is4UGwYrsn9ub0f_bf-EyaA9baN7HIV3N6CRBGWIWmpnQzr-kME6qqkiCxuJ7oGGSU7cAGsfzQnsAxNdO5AKfY25nN9rREPNgrg0_g4wx239DfKQWWvR_IStiE2a5ZeOlZ32KBI4efcieLlEKZw8LFD26nAaD7RpNY1WEmR?width=1500&height=1102&cropmode=none);
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                height: 300px;
            }

            .best_content_layer
            {
                position: relative;
                box-sizing: border-box;
                cursor: pointer;
                width: 75%;
                height: 200px;
                padding: 10px;
                margin-top: 50px;
                backdrop-filter: blur(5px);
            }

            .best_content_layer::after {
                width: 100%;
                height: 100%;
                content: "";
                filter: blur(2px);
                background: url(https://bl3301files.storage.live.com/y4m1avnOoGR41XIhBidAIllETBK4is4UGwYrsn9ub0f_bf-EyaA9baN7HIV3N6CRBGWIWmpnQzr-kME6qqkiCxuJ7oGGSU7cAGsfzQnsAxNdO5AKfY25nN9rREPNgrg0_g4wx239DfKQWWvR_IStiE2a5ZeOlZ32KBI4efcieLlEKZw8LFD26nAaD7RpNY1WEmR?width=1500&height=1102&cropmode=none);
            }

            #TOP {
                color: white;
            }
            /* ************************** */

            .header {
                width: 100%;
                height: 50px;
                background-color: #efefef;
            }

            img.logo_img {
                width: 40px;
                height: 40px;
                display: inline-block;
                padding: 5px;
            }

            .login {
                position: relative;
                float: right;
                margin: 15px;
            }
            /* ************************** */

            .region {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                min-height: 600px;
            }

            /* */

            * {
                list-style: none;
                text-decoration: none;
                border-collapse: collapse;
                margin: 0px;
                padding: 0px;
                color: black;
            } 

            td {
                height: 200px;
                text-align: center;
            }

            th {
                text-align: center;
                height: 20px;
            }

            .navbar .navbar-header {
                float: none;
            }

            .navbar .navbar-toggle {
                display: block;
            }

            .navbar .navbar-collapse.collapse {
                display: none!important;
            }

            .navbar .navbar-nav {
                float: none!important;
            }

            .navbar .navbar-nav > li {
                float: none;
            }

            .navbar .navbar-collapse.collapse.in {
                display: block !important;
            }

        </style>
        
    </head>

    <body>
        <input type="hidden" id="myJsonData" value="<%= JSON.stringify(AllFac) %>" />
        <input type="hidden" id="myUserData" value="<%= JSON.stringify(AllUsers) %>" />

        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="navbar-header">
                <div class="login" id="login_area">
                    <script>
                        loginArea(document.getElementById("myUserData").value);
                    </script>
                </div>
                <a class="navbar-brand" style="margin-top: 8px;" href="#">JoinUs</a>
            </div>
            </div>
        </nav>

        <div class="container-fluid text-center banner">
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 bannerfside">
                    <div class="banner_button_layer">
                        <button type="button" class="btn btn-light" id="prev" onclick="prevSlide()"><</button>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 banner_center">
                    <div class="banner_commerce_layer active">
                        <img height="500px" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="https://bl3301files.storage.live.com/y4mS9r4SCtRyryp0WPDJiLP_lZXiyrtq_CF80nOtb4v0WdxRD4lZQf158Oo_bVincMCu0o4wLE-yM4OrAMiHFLk_ZrV3gsVJ15CUt3Td9NiYMVnnYQJS5nfpPDImJrqoAlPbxGq8iTvBg9FU4Wc7epPGaG02i2lz7hMk8oX8sdkk9eTJD05N8ZYeNukpkZZl1ft?width=827&height=536&cropmode=none"/>
                    </div>

                    <div class="banner_commerce_layer">
                        <img height="500px" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="https://bl3301files.storage.live.com/y4mYgPSW2nofxnttVsgmlbdOfoplTa6hC0Fv-Qux3TNVZfzgeUXI5MBQx_8BKQA8wrhJUbyjqvwsbLoV6CqzIRXfJ1zXUSJn4vVPUsUCDLXRMbHXg5s1pyEeq5I9iOXV7L7CMmFpjQguboCLC_wmd7oOQKNlwv2NLg_lIQHteTACpFuuJ_pSOygexNJpeQhLOGX?width=940&height=446&cropmode=none"/>
                    </div>

                    <div class="banner_commerce_layer">
                        <img height="500px" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="https://bl3301files.storage.live.com/y4m57k2cTi-Lgs6JwTx4qDMiPj0zKb7t0ZC-sHs1ZtT3lnZj0cwFBtuPWKXn9AkAKEV41fNbT7ZZihfmSCApykvJot9yQvkOajg6PjBpjlZaxasnhYJnEYRHIx6TztmMfFuKmtAik6laymedBLgcX4ffSQn4nEryd_4KjpWRHx-GqeKqyyQTMjjFKuvtRSVlrn5?width=1111&height=600&cropmode=none"/>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 banner_side">
                    <div class="banner_button_layer">
                        <button type="button" class="btn btn-light" id="next" onclick="nextSlide()">></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center best">
            <div class="row">
                <!-- <div class="col-xs-12 col-sm-6 col-md-7 col-lg-12" style="background-color:red;"> -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 best_content_box">
                    <div class="best_content_layer" id="TOP1">
                        <script>
                            TopContentFunc(document.getElementById('myJsonData').value, 0);
                        </script>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 best_content_box">
                    <div class="best_content_layer" id="TOP2">
                        <script>
                            TopContentFunc(document.getElementById('myJsonData').value, 1);
                        </script>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 best_content_box">
                    <div class="best_content_layer" id="TOP3">
                        <script>
                            TopContentFunc(document.getElementById('myJsonData').value, 2);
                        </script>    
                    </div>
                </div>
            </div>
        </div>

        <div class="region">
            <div class="region_select">

            </div>
            <h3>지역 선택</h3>
            <ul class="nav navbar-nav default">
                <li class="dropdown">
                <a id="findRegion" href="#" class="dropdown-toggle" data-toggle="dropdown">전체<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a onclick="setRegion(document.getElementById('myJsonData').value, 0), getRegion(0)">전체</a></li>
                    <li><a onclick="setRegion(document.getElementById('myJsonData').value, 1), getRegion(1)">서울</a></li>
                    <li><a onclick="setRegion(document.getElementById('myJsonData').value, 2), getRegion(2)">경기</a></li>
                    <li><a onclick="setRegion(document.getElementById('myJsonData').value, 3), getRegion(3)">충청</a></li>
                </ul>
                </li>
            </ul>

            <table class="table table-hover table-stripped">
                <thead>
                    <tr>
                        <th>지역</th>
                        <th>시설주</th>
                        <th>카테고리</th>
                    </tr>
                </thead>
                <tbody id="make_region_table">
                    <script>
                        setRegion(document.getElementById('myJsonData').value, 0);
                    </script>  
                </tbody>
            </table>
        </div>

        <div class="footer">

        </div>
    </body>
</html>