<!DOCTYPE html>
<html>
  <head>
    <link href="./css/nav.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <title>JoinUs</title>

    <style>
      body{
        margin-bottom: 100px;
        min-width: 1200px;
        justify-content: center;
        display:flex;
      }
      .card_inside:hover{
        transition: background-color .6s;
        background-color: gold;

      }
      .card_inside:hover p{
        color:black;
      }
      a:visited p{
        color:red;
      }
      .outer_layout{
        margin-left: 100px;
        margin-right: 100px;
      }
    </style>
    <script>

    ///////////////////////////////////////////////////////
    ///////////////  MAKE INFO  ///////////////////////////
    ///////////////////////////////////////////////////////
      //input theme
      const theme = [];
      //table data
      const data = new Array(theme.length);
      // bar chart data
      const gdata = new Array(theme.length);
      // line char data
      let sdata = new Array();
      // default color theme (fancy blue)
      let color_theme = '#1A73E8';

      //this function generate_data each array;
      function generate_data(){
      
        let tmpdata = [];
        let themes = JSON.parse(document.getElementById('myThemes').value);
        let myReview = JSON.parse(document.getElementById('myReviewData').value);

        let jsonReview = myReview;
        let ppl = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

        data[0] = new Array(myReview.length);
        for (let k = 1; k <= themes.length; k++)
        {
          data[k] = new Array(myReview.length);
          tmpdata = [];
          for (let i = 0; i < myReview.length; i++)
          {
            let strTime = jsonReview[i].review_date;
            let tmpInt = parseInt(parseInt(strTime) % 10000 / 100);

            tmpdata[0] = tmpInt.toString();
            ++ppl[tmpInt];
            tmpdata[1] = ppl[tmpInt];
            tmpdata[2] = jsonReview[i].review_mem;
            tmpdata[3] = jsonReview[i].review_p.substr(1, 12);

            data[k][i] = tmpdata;
          }
        }
      }
      function movepage(){
        // this function is click event move to id view_start, behavior smooth
          document.getElementById('view_start').scrollIntoView( {behavior: 'smooth'});
      }
      function contentIndex(index){
        // this function is important
        // most of event after click work in this function

        //i have to remove table in the page when click another theme
        $(".table_area").empty();
        $("#graph_area1").empty();
        $("#graph_area2").empty();

        // default color_theme is fancy blue
        //we have 4 color theme so use $4
        //0 is default (fancy blue) 1 is red 2 is green 4 is
        var color_index = index%4;
        if(color_index == 1){
          //dark red
          color_theme = '#871b47';
        }
        if(color_index == 2){
          //dark green
          color_theme = '#125B50';
        }
        if(color_index==3){
          //orange
          color_theme= 'FF8C32'
        }

        generate_data();
        drawChart_info(index);
        drawSave(index);
        movepage();
        
        document.getElementById("view_theme").innerHTML='Total : '+data[index].length;
        var table = new Array();
        for(var i=0;i<data[index].length;i++){
          table[i] = '<tr><th scope="row">'+data[index][i][0]+'</th><td>'+data[index][i][1]+'</td><td>'+data[index][i][2]+'</td><td>'+data[index][i][3]+'</td></tr>'
        }
       for(let k=0;k<data[index].length;k++){
         document.getElementsByClassName("table_area")[k].innerHTML=table[k];
       }
      }
      /////////////////////////////////////////////////////////
      ///////////////  CHART AREA  ////////////////////////////
      /////////////////////////////////////////////////////////


      google.charts.load('current', {'packages':['corechart', 'bar']});

      function drawChart_info(index) {

        var graph_area = document.getElementById('graph_area1');

        var Options = {
          width : 380,
          height : 380,
          colors: [color_theme],
          legend: { position: 'none' },
          chart: {
            title: '테마별 현황 그래프',
          }
        };
        function drawChart() {
          var Chart = new google.charts.Bar(graph_area);
          Chart.draw(gdata[index], google.charts.Bar.convertOptions(Options));
        }
        drawChart();
    };

    //////////////////////////////////////////////////////////////////////////
    ////////////////////////////      CHART 2      ///////////////////////////
    //////////////////////////////////////////////////////////////////////////
    google.charts.load('current', {packages: ['corechart', 'line']});

    function drawSave(index) {
          var data = new google.visualization.DataTable();
          var count = 0;
          //use two column theme and time
          data.addColumn('number', 'X');
          data.addColumn('number','theme'+index);

          
        }
    </script>
  </head>

  <body>
    <input type="hidden" id="myFacility" value="<%= JSON.stringify(AllFac) %>" />
    <input type="hidden" id="myThemes" value="<%= JSON.stringify(AllThemes) %>" />
    <input type="hidden" id="myUserData" value="<%= JSON.stringify(AllUsers) %>" />
    <input type="hidden" id="myReviewData" value="<%= JSON.stringify(AllReview) %>" />

    <div class="outer_layout">
      <div class="container-fluid" style="margin-top: 8px; min-width:1080px;">
        <nav class="navbar">
          <a class="navbar-brand" href="http://localhost:3000">나가기</a>
        </nav>
      </div>
      <div class="container-fluid shadow" style="min-width:1080px;">
        <div class="row">
          <div class="card-body"><div class="row">
          <script>
            let themes = JSON.parse(document.getElementById('myThemes').value);
            for(var i=0; i<themes.length; i++){
              document.write(
                '<div class="col-sm-2" style = "margin-bottom: 20px;">'+
                  '<div class="border border-light card_inside rounded-circle shadow py-5">'+
                    '<div style="text-align:center">'+
                        '<div class="font-weight-bold">'+
                          '<a href="javascript:contentIndex('+i+'); javascript:get_themenum('+i+');">'+
                          '<p style="font-size : 20px; text-align : center;">'+themes[i].theme_name+'</p>'+
                          '</a>'+
                        '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'
              );
            }
          </script>
          </div></div>
        </div>
      </div>
      <div class="container-fluid shadow" style="min-width:1080px;">
        <!-- left section content -->
        <div class="row">
          <div class="col-sm-6"  style = " margin-top : 150px; margin-bottom: 50px; float:left;">
            <h2 id = "view_start">예약 현황</h2><h2 id = "view_theme">
              <script>
                //document.write("hello");
              </script>
            </h2>
            <table class="table table-striped table-hover">
              <thead class = "thead-dark"> <tr> <th scope="col">예약시간</th> <th scope="col">예약인원</th> <th scope="col">예약자 이름</th> <th scope="col">예약자 정보</th> </tr> </thead>
              <script>
                for(var j=0;j<12;j++){
                 document.write('<tbody class="table_area"> </tbody>');
              }
              </script>
            </table>
          </div>
          <!-- right section content -->
          <div class="col-sm-6 "style = "float:left; margin-top: 150px; margin-bottom: 50px;">
            <div style = "min-width: 400px; width : 45%; float:left;">
              <div id="graph_area1" class = "area" style = "margin-left: 60px;  float:left;"></div>
            </div>
            <div style = "width : 45%; float:left;">
              <div id="graph_area2" class= "area" style = "float:left; "></div>
            </div>
          </div>
        </div>
      </div>

      <!--fin of outer layout if add outer move right-->
    </div>
    <!--fin of body-->
  </body>
</html>